/* BEST APP  */

/* BEST APP  */

.bbest-mod-app {
  margin-top: 160px;
}
.bbest-app-content {
  height: 504px;
  -webkit-box-shadow: 0px 7px 10px rgba(0, 102, 255, 0.112516);
  box-shadow: 0px 7px 10px rgba(0, 102, 255, 0.112516);
  border-radius: 40px;
}

.blue {
  background: #0066ff;
}

.blue-green {
  background: #00cccc;
}

.green h2 {
  font-family: Barlow !important;
  font-size: 52px;
  font-style: normal;
  font-weight: 600;
  line-height: 56px;
  letter-spacing: 0px;
  text-align: left;
  color: #000099 !important;
}

.green p {
  color: #000099 !important;
}

.bbest-app-content .cards-banner-app {
  background: #00cccc;
}

.bbest-app-content .content {
  margin: 54px 65px;
}

.bbest-app-content .content .bbest-app-text-esm {
  margin-bottom: 24px;
}

.bbest-app-content .content .bbest-app-text-md {
  margin-top: 24px;
}

.bbest-app-content .content .bbest-app-store {
  margin-top: 40px;
}

.bbest-app-content .content .bbest-app-store img:first-child {
  margin-right: 16px;
}

.bbest-app-content .content .bbest-app-img {
  margin-top: -244px;
  max-width: 609px;
}

.bbest-app-content-cards {
  height: 150px;
  width: 100%;
  margin-top: -77px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  cursor: pointer;
}

.banner-app-wrapper {
  margin-top: 250px;
}

.bbest-app-content-cards .bbest-app-card {
  min-width: 337px;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  height: 150px;
  margin-right: 23px;
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}

.bbest-app-content-cards .bbest-app-card:first-child {
  margin-left: 23px;
}

.bbest-app-content-cards .bbest-app-card .bbest-app-card-icone {
  width: 64px;
  height: 64px;
  position: absolute;
  background-color: #fff;
  border: 1px solid #dfeaf2;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 0px 7px 10px rgba(0, 102, 255, 0.112516);
  box-shadow: 0px 7px 10px rgba(0, 102, 255, 0.112516);
  border-radius: 16px;
  overflow: hidden;
  z-index: 1;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bbest-app-content-cards.banner-app .bbest-app-card .bbest-app-card-icone {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.bbest-app-content-cards.banner-app
  .bbest-app-card
  .bbest-app-card-icone
  > img {
  width: 60% !important;
}

.bbest-app-content-cards .bbest-app-card .bbest-app-card-content {
  height: 128px;
  max-width: 308px;
  position: absolute !important;
  -webkit-box-shadow: 0px 20px 14px rgba(0, 102, 255, 0.112516);
  box-shadow: 0px 20px 14px rgba(0, 102, 255, 0.112516);

  background: #ffffff;
  border: 1px solid #dfeaf2;
  border-radius: 10px;
  padding-left: 58px;
  padding-right: 30px;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.bbest-app-content-cards .bbest-app-card .bbest-app-card-content .boby-text-lg {
  font-weight: 600;
  color: #000099;
}

.bbest-app-content-cards .bbest-app-card:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.bbest-app-content-cards .slick-track {
  width: 100% !important;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center !important;
  -ms-flex-align: center !important;
  align-items: center !important;
  -webkit-box-pack: center !important;
  -ms-flex-pack: center !important;
  justify-content: center !important;
}

.bbest-app-content-cards .slick-dots {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

/* Slick dots */
/* Dots */

.slick-dotted.slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
}

.slick-dots li {
  position: relative;
  display: inline-block;
  height: 10px !important;
  width: 10px !important;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}
.bbest-hero-slider .slick-dots li {
  list-style: none;
}

.slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  height: 20px;
  width: 20px;
  outline: none;
  line-height: 0px;
  font-size: 0px;
  color: transparent;
  padding: 5px;
  cursor: pointer;
}

.slick-dots li button:hover,
.slick-dots li button:focus {
  outline: none;
}

.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
  opacity: 1;
}

.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "•";
  width: 20px;
  height: 20px;
  font-family: "Ionicons";
  font-size: 26px;
  line-height: 20px;
  text-align: center;
  color: #dddddd;
  opacity: 0.85;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-dots li button:before {
  content: "";
  color: rgba(255, 0, 0, 0);
  background: rgba(255, 0, 0, 0) !important;
  border: 1px solid #0066ff !important;
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
.slick-dots li.slick-active button:before {
  color: #0066ff !important;
  width: 42px !important;
}

.slick-dots .slick-active {
  border-radius: 12px !important;
  background: #0066ff !important;
  width: 42.86px !important;
  -webkit-animation-name: btn-slick;
  animation-name: btn-slick;
  -webkit-animation-duration: 0.8s;
  animation-duration: 0.8s;
}

.bbest-app-content-cards .slick-dots {
  justify-content: center !important;
  bottom: -53px !important;
}

/* Fim Slick dots */

/* Responsive breakpoints */
@media (max-width: 1400px) {
  .bbest-app-content .content {
    margin: 45px 50px;
  }
}

@media (max-width: 1200px) {
  .bbest-app-content .content .bbest-app-img {
    margin-top: -196px;
    max-width: 524px;
  }

  .bbest-app-content-cards .bbest-app-card {
    min-width: 278px;
    height: 192px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .bbest-app-content-cards .bbest-app-card .bbest-app-card-icone {
    left: unset;
    top: 0;
  }
  .bbest-app-content-cards .bbest-app-card .bbest-app-card-content {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 20px;
    text-align: center;
  }
  .bbest-app-content .content {
    margin: 45px 14px;
  }
  .slick-dots button {
    margin-top: 2em;
  }
}

@media (max-width: 992px) {
  .app-ag .bbest-app-content {
    padding: 32px;
  }

  .bbest-app-content {
    height: 440px;
  }
  .bbest-app-content .content .bbest-app-img {
    margin-top: -155px;
    max-width: 421px;
    margin-left: -45px;
  }

  .bbest-app-content .content {
    margin: 4px 13px;
  }

  .bbest-app-content .content .bbest-app-store {
    margin-top: 21px;
  }
  .bbest-app-content .content .bbest-app-store img {
    max-width: 128px;
  }
  .bbest-app-content .content .bbest-app-text-lg {
    font-family: Barlow;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 36px;
  }
}

@media (max-width: 767.98px) {
  .bbest-app-content .content .bbest-app-text-lg {
    font-family: Barlow;
    font-style: normal;
    font-weight: 600;
    font-size: 52px;
    line-height: 56px;
  }

  .bbest-app-content {
    border-radius: 20px;
    height: 100%;
    padding-bottom: 8em;
  }
  .bbest-app-content .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
  .bbest-app-content .app-text-features {
    /* background-color: yellowgreen; */
    margin-bottom: 7em !important;
    background-color: blue;
  }
  .bbest-app-content div div:nth-child(2) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .bbest-app-content .content {
    margin: 0;
    padding: 0 31px;
  }
  .bbest-mod-app .bbest-app-content .content {
    margin: 0;
    padding: 0 31px;
    margin-bottom: 89px;
  }

  .bbest-app-hp .bbest-app-content .content {
    margin: 0;
    padding: 0 31px;
    margin-bottom: 89px;
  }

  .bbest-app-content .bbest-app-img {
    margin-top: -183px;
    max-width: 464px;
    margin-left: 16px;
    margin-bottom: -92px;
  }

  .bbest-app-content .content .bbest-app-img {
    margin-left: 60px;
    margin-bottom: -123px;
  }
  .bbest-app-content .content .bbest-app-text-esm {
    margin-bottom: 6px;
  }

  .bbest-mod-app .bbest-app-content .content {
    margin-bottom: 107px;
  }

  .bbest-app-hp .bbest-app-content .content {
    margin-bottom: 107px;
  }

  .slick-dots {
    bottom: -32px !important;
  }

  .bbest-mod-app {
    margin-top: 120px;
  }
}

@media (max-width: 575.98px) {
  .bbest-app-content .content .bbest-app-text-lg {
    font-family: Barlow;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 36px;
  }
  .bbest-app-content {
    padding-bottom: 8em;
  }
  .bbest-app-content .content {
    padding: 0 32px;
  }
  .bbest-app-content .content .bbest-app-text-md {
    line-height: 22px;
  }
  .bbest-app-content .content .bbest-app-text-esm {
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
    margin-bottom: 6px;
  }
  .bbest-app-content .content .bbest-app-store {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: left;
  }
  .bbest-app-content .content .bbest-app-store img {
    width: 100%;
  }

  .bbest-app-content .content .bbest-app-img {
    max-width: 406px;
    margin-left: 54px;
  }
}

@media (max-width: 375.98px) {
  .bbest-app-content .content .bbest-app-img {
    max-width: 337px;
    margin-left: 54px;
  }
}
